[2019-10-06 02:40] juan-lee opened #4 "Add Support for an Azure Container Instance Provisioner"
Add support for using an Azure Container Instance as a provisioner.

## Expected Behaviour
The behavior would be similar to the droplet provisioner except it would use a container instance resource on azure instead of a digital ocean droplet.

## Current Behaviour
Currently inlet servers are only supported on digital ocean and packet.

## Context
inlet provides a very nice way to expose services f

[2019-10-06 11:05] tobru opened #6 "[Feature request] Add cloudscale.ch provisioner"
## Expected Behaviour

The inlets operator supports provisioning an inlets endpoint at [cloudscale.ch](https://www.cloudscale.ch/).

## Current Behaviour

The IaaS provider cloudscale.ch is not supported.

## Possible Solution

Add support for cloudscale.ch using their [go sdk](https://github.com/cloudscale-ch/cloudscale-go-sdk).

## Context

Supporting the local IaaS provider is a cool thing to d

[2019-10-06 11:06] tobru commented on #6
Without any promises, I try to implement this by my own, but will certainly take some time until I get there.

[2019-10-06 19:23] juan-lee opened #7 "tunnel-client "Failed to connect to proxy" errors"
While going through the [blog post](https://blog.alexellis.io/ingress-for-your-local-kubernetes-cluster/) I encountered errors with the tunnel client not being able to connect to the droplet or other tunnel server. The problem seems to be due to the dataplane, control, and service ports being the same.

## Expected Behaviour
Tunnel client should be able to connect to the tunnel server to expose a

[2019-10-06 19:47] alexellis commented on #7
Hi @juan-lee thank you for getting in touch.

What Kubernetes distribution are you using?

I've used KinD, k3s, kubeadm, and k3d successfully without issue.

If you suspect issues with the `control-port`, you can edit the server's systemd unit file to use `--control-plane 8080` and the client's connection URL to point to that port.

Want to give that a try?

Alex

Alex

[2019-10-06 19:48] alexellis commented on #7
https://github.com/alexellis/inlets#bind-a-different-port-for-the-control-plane

[2019-10-06 19:55] alexellis commented on #7
Quoting the blog post for this isn't helpful because it clearly works for around half a dozen people already and there's a video showing it too.

Could you give more info? i.e.

[code]

[2019-10-06 20:25] alexellis commented on #7
Can you try the `add-gc` branch and the custom build I made - I'm assuming you're using KinD?

[2019-10-06 20:27] #7 closed

[2019-10-07 00:01] juan-lee commented on #7
@alexellis I confirmed the code in master now works as advertised. I actually got it working for myself while building a proof-of-concept azure container instance provisioner. I just discovered inlets yesterday on @lachie83's recommendation. Thanks for sharing and great work! I'd love to help out if you're open to it.

[2019-10-07 12:58] alexellis commented on #7
It's merged into master now and ready to go, if you want to try again.

Happy to review your PR this week 👍

Delete is now implemented too.

Alex

[2019-10-07 19:23] alexellis commented on #4
Sounds good to me, I'd be happy to accept a PR for this @juan-lee

What are the costs of the ACI per month? Could you add table to the README with an estimation?

For Packet it's the $0.07, for DigitalOcean it's 5 USD / mo.

Thank you!

Alex

[2019-10-07 19:24] alexellis opened #8 "[Feature] Add markdown grid to README with prices per provider"
## [Feature] Add markdown grid to README with prices per provider

Packet - https://www.packet.com/cloud/servers/t1-small/
DigitalOcean - 5 USD / mo

Columns:

| Provider | Price per month | Price per hour | Link to pricing page | OS image | Memory | CPU |

[2019-10-07 19:25] alexellis commented on #4
https://github.com/alexellis/inlets-operator/issues/8

[2019-10-07 21:09] juan-lee commented on #4
@alexellis The cost for ACI is around $40/month. Azure's cheapest VM will also be around the same price. It's a far cry from $5/mo you get on digital ocean, but is a little better than $0.07/hr (~$51/mo) on packet.

I'll add a table to the README. Thanks!

[2019-10-08 08:16] alexellis commented on #4
Thank you, hopefully folks with Azure credits and at MSFT will find it useful, despite the rather exorbitant cost.

[2019-10-08 08:16] alexellis commented on #6
What would the cost be per month for the smallest instance with IPv4?

[2019-10-08 17:57] tobru commented on #6
https://www.cloudscale.ch/en/pricing -> CHF 30.00 per 30 days, roughly EUR 27.55

[2019-10-09 06:52] #8 closed

[2019-10-12 19:26] blackjid opened #10 "[Feature request] Trigger events for ip allocation"
When running `kubectl get events -w` while adding a new loadbalancer, There is no log about the IP allocation for the service.

I can see an event when the service gets an IP from the dhcp through metallb. But nothing is registered for inlets operator.

[code]

To reproduce

- Create a pod running nginx
- Espose nginx through a loadbalancer service
- Watch the events with `kubectl get events -w` u

[2019-10-12 19:56] alexellis commented on #10
Please give step by step instructions to reproduce this.

[2019-10-12 20:04] blackjid commented on #10
I've updated the description

[2019-10-12 20:11] alexellis commented on #10
Can you reproduce this without metallb? Ideally I don't want to complicate things and have three things giving out LB IPs.

[2019-10-12 20:34] blackjid commented on #10
mm, I think you are right, it looks like metallb was triggering that event.

Without metallb the `IPAllocated` event is not triggered. I thought that it might be a standard.

Anyway seems reasonable to have an event from the loadbalancer saying that a new IP was allocated.

Feel free to close the issue if is not something you see worth adding.

[2019-10-12 20:54] alexellis commented on #10
If you can find out how it works we can try to add it. Right now I'm updating the IP for the service so I'd expect to see the event.

[2019-10-12 20:57] alexellis commented on #10
Can you see it here? https://github.com/danderson/metallb/blob/master/controller/main.go

[2019-10-12 22:53] blackjid commented on #10
I think this is the line where the event is sent.
https://github.com/danderson/metallb/blob/master/controller/service.go#L115

I also checked on GKE and when a new loadbalancer is created, there is no event about the ip.

[2019-10-14 12:35] blackjid opened #11 "The loadbalancer external ip is not cleared when the tunnel is removed"
If I manually remove the tunnel object associated to a loadbalancer, the garbage collector does not clear the external ip of the service. This make the loadbalancer service state inconsistent.

I already have a working fix so I could open a PR with it.

## Expected Behaviour
I would expect the node-exit ip to be removed from the externalips on the loadbalancer service.

## Steps to Reproduce
1. Cr

[2019-10-14 13:05] alexandrevilain opened #12 "Proposal: Add Scaleway provider"
Scaleway is a great and cheap provider. I think that this provider is well suited for this operator.

## Expected Behaviour
Adding the `--provider scaleway` flag should provision a new scaleway instance.

## Current Behaviour
We can't provision a scaleway instance.

## Possible Solution
1. Add `scaleway.go` file to the `pkg/provision` package
2. Add scaleway in the controller.

Their new SDK seems

[2019-10-15 11:02] alexellis commented on #11
Hi @blackjid I've updated the title with what I think you wanted to say.

Let me know if you'd be interested in working on this?

Alex

[2019-10-15 14:04] blackjid commented on #11
Sorry if I wasn't clear. I also thought about what you described, that the operator remove the tunnel when the loadbalancer annotation changes to false. But I was thinking of something else.

I'll update the description trying to be more specific.

[2019-10-15 21:16] alexellis opened #14 "Add Travis build for CI"
## Expected Behaviour

It'd be great to have a Travis build for CI

## Current Behaviour

We don't have Travis yet

## Possible Solution

Use alexellis/inlets as an example, after merging I'll add the token and Docker Hub credentials

[2019-10-15 21:16] alexellis commented on #14
cc @matevzmihalic

[2019-10-17 11:59] blackjid commented on #11
I've updated the title back to what I really meant.
I've opened a PR fixing this also.

I'll open an issue with what you thought I was talking about.

[2019-10-17 12:01] blackjid opened #16 "[feature request] Remove tunnel when annotated as "dev.inlets.manage=false""
Tunnels are no removed when an annotation is updated or added to "dev.inlets.manage=false" in the service.

[2019-10-17 12:19] alexellis commented on #16
Would you like to work on this?

[2019-10-17 13:22] blackjid commented on #16
ok.. I'll take a look at it..

[2019-10-18 19:12] alexellis opened #18 "[Feature] Add provisioner for AWS EC2"
## Expected Behaviour

[Feature] Add provisioner for AWS EC2

## Current Behaviour

Exit nodes can be provisioned to DO/Packet

## Possible Solution

1) Explore the "provision" package - https://github.com/inlets/inlets-operator/tree/master/pkg/provision

2) Integrate the AWS SDK for Go

Example: https://docs.aws.amazon.com/code-samples/latest/catalog/go-ec2-create_instance.go.html

[2019-10-22 23:56] colek42 opened #19 "Support issue for Flux/k3d"
Getting connection refused errors
[code]

Using flux, current manifest:  https://github.com/colek42/k3d-bootstrap/tree/fe0f92d4025d40bc924e820362e0127698b94682/releases

## Expected Behaviour
When the repo is bootstrapped I should see the default backend.

## Current Behaviour
This error is happening when when installing an ingress-nginx controller in a k3d environment.  The tunnel should connect

[2019-10-23 05:29] alexellis commented on #19
Hi, thanks for trying inlets.

Did an exit node get provisioned?

Did you see the IP get updated?

What are the logs of the operator?

Alex

[2019-10-23 05:30] alexellis commented on #19
I can't see the sealedsecret for your `inlets-access-key` in the repo?

[2019-10-24 19:05] colek42 commented on #19
It was a bug in my bash script, I was using my default cluster rather than the k3d cluster.  Good thing my default cluster isn't prod!

[2019-10-24 19:05] #19 closed

[2019-10-24 20:50] alexellis commented on #19
Glad you have it working thanks for letting me know.

[2019-10-24 20:52] alexellis commented on #19
Btw, if you need user-support in the future, there's an #inlets channel on the OpenFaaS Slack https://slack.openfaas.io/

[2019-10-25 09:21] alexellis opened #21 "Backlog: create helm chart from static manifests"
## Expected Behaviour

We could use a helm chart to start being able to swap parameters for users such as the backend cloud, or inlets OSS / pro.

## Current Behaviour

Not available

## Possible Solution

Run this:

[code]

Then edit the YAML files generated by helm until they resemble those in `./artifacts/`, test e2e and send a PR in.

[2019-10-28 08:21] alexandrevilain commented on #12
Hi @alexellis
I just saw that you added scaleway on your todo list 😁 !
I was waiting for your approval, but I started to develop it as it's on the road map now :)

[2019-10-28 08:38] alexellis commented on #12
There's an interface for adding provisioners, but the controller still has some provider-specific code in it, which could be improved after adding Scaleway.

Please feel free to work on the PR 👍

[2019-10-28 08:43] alexandrevilain commented on #12
Yes, I will first create the PR for Scaleway :)

Then I'll do another to refacto the provider-specific code in the controller!

[2019-11-01 15:41] #16 closed

[2019-11-01 15:47] #12 closed

[2019-11-06 09:34] #11 closed

[2019-11-06 13:31] e-minguez opened #27 "[Feature] Add provisioner for DIY VPS"
## Expected Behaviour
[Feature] Add provisioner for VPS

## Current Behaviour
Exit nodes can be provisioned to DO/Packet

## Possible Solution
Instead deploying a new instance, use an already created VPS/custom VM instead.

## Steps to Reproduce (for bugs)
1. Deploy the inlets operator
2. Tweak the config with a configmap
3. Add the token with a secret
4. Profit

## Context
Inlets does support DIY

[2019-11-06 22:39] shawngmc opened #28 "[Feature request] Multiplex a single exit-node"
Currently, inlets-operator creates one exit-node (DO Droplet, etc.) for each LoadBalancer created. This can add up quickly if a number of services are behind the load balancer.

Inlets offers the ability to set multiple upstreams. For example, from https://blog.alexellis.io/https-inlets-local-endpoints/:

[code]

Will inlets-operator offer this capability as well?

## Expected Behaviour
When creat

[2019-11-11 17:57] alexellis commented on #27
Great to hear that you're interested in inlets. I'm not sure what you mean by "DIY VPS", could you elaborate on what you're proposing? Thanks

[2019-11-11 18:01] alexellis commented on #28
Thanks for using the inlets-operator.

LBs from Cloud providers are around 15 USD +/-. Inlets is already 3x cheaper than that when using DigitalOcean (5USD per IP)

This feature is not in scope at present, I suspect it would be rather complicated and time-consuming and as inlets is provided for free at no cost, it's hard to justify right now.

If multiples of 5 USD are a concern. perhaps you could

[2019-11-11 18:02] alexellis commented on #21
I've put this together so will close the issue.

[2019-11-11 18:02] #21 closed

[2019-11-11 18:02] alexellis commented on #14
Done

[2019-11-11 18:02] #14 closed

[2019-11-11 18:03] alexellis commented on #10
What would you like to see happen with this issue @blackjid ?

[2019-11-11 18:03] alexellis commented on #4
Is this still of interest @juan-lee ?

[2019-11-11 18:05] utsavanand2 commented on #28
Or maybe use something like an nginx ingress controller? That way we can
have a single service hence a single instance ?

On Mon, Nov 11, 2019, 11:31 PM Alex Ellis <notifications@github.com> wrote:

[2019-11-12 09:21] e-minguez commented on #27
So, inlets does support to be deployed in a DIY VPS (https://github.com/inlets/inlets/blob/master/docs/vps.md), meaning you can create your own VM in the provider you want (or baremetal, or $whatever), deploy inlets and use it.

The current inlets-operator only supports DO, Packet.net and other providers (which is fine), but it would be nice to allow the inlets-operator to use an already created i

[2019-11-13 10:33] rugwirobaker opened #30 "[Feature Request] Add provisioner for GCP Compute"
## Expected Behaviour
[Feature]Add provisioner for GCP Compute

## Current Behaviour
Exit nodes can be provisioned to DO/Packet

## Possible Solution
1. Explore the "provision" package - https://github.com/inlets/inlets-operator/tree/master/pkg/provision

2. Integrate the GCP SDK for Go

Example:  https://github.com/googleapis/google-api-go-client/blob/master/examples/compute.go

[2019-11-13 12:08] alexellis commented on #30
This was actually done in #26 but @utsavanand2 accidentally overwrote his changes.

I would expect him to pick up the change again soon.

Thanks for requesting the feature, this is already on the backlog on the README under " Provision to GCP"

[2019-11-13 12:10] alexellis commented on #27
No, it's still not very clear.

Can you list the workflow you imagine being available after this work would be completed?

Are you proposing to do it yourself?

The current list of providers and incoming providers are listed on the README.md.

Alex

[2019-11-13 12:14] alexellis opened #31 "Move "provision" package to inletsctl"
## Details

By moving the provision package to https://github.com/inlets/inletsctl, we can add/update/release new provisioners without a dependency on the operator. These can be tested and added into the operator at a later time as required.

* [provision](https://github.com/inlets/inlets-operator/tree/master/pkg/provision) package

Today inletsctl has a provisioner for Civo.com which isn't integr

[2019-11-13 12:15] alexellis opened #32 "[Feature] Add Civo.com provisioner support"
## Expected Behaviour

Provisioning to instances on Civo.com in the UK - for 5 USD / mo / instance.

## Current Behaviour

Available in inletsctl at present, but not in the operator.

## Possible Solution

Move the Civo code written for inletsctl into the "provision" package in this project

Related: #31

[2019-11-13 12:37] rugwirobaker commented on #30
Great, I previoulsy wanted a civo provisioner but I guess it might not be possible as of now since they don't have a go sdk.

[2019-11-13 12:46] e-minguez commented on #27
Let me try again.

Environment:
* myserver.example.com: Linux OS with inlets installed and listening (`inlets server --port 8000 --token=asdf`)
* k8s deployment.

Use case:
As a user, I want to be able to use the inlets-operator with myserver.exampl.ecom inlets installation so I don't need to provision anything in any cloud/provider.

Procedure:

[code]

I'm assuming some ConfigMap or an env var w

[2019-11-13 13:02] alexellis commented on #27
I think you could just create the Tunnel custom resource yourself with YAML. Would you like to try that?

[2019-11-13 13:03] alexellis commented on #30
No I already wrote the code for Civo and it's in inletsctl, it just needs integrating here. You can use it with inletsctl already.

[2019-11-13 13:03] alexellis commented on #30
#32

[2019-11-13 16:59] e-minguez commented on #27
You mean instead deploying the operator, just run inlets in k8s right? Do you have any example that I can look at?

Thanks.

[2019-11-15 18:53] rugwirobaker commented on #32
Can I do this? Seems I don't even have to change the code.

[2019-11-23 11:10] utsavanand2 commented on #30
PR #33 Resolves this issue

[2019-11-28 23:04] alexellis commented on #32
@rugwirobaker if you feel you can test it end to end, how long do you think it'll be until you have a PR up?

[2019-11-29 06:50] rugwirobaker commented on #32
I'm a bit confused here the issue #31 says we have to move the provision package to inletsctl yet one states that we must bring it here(which I thought was the task). And seeing as the there is on provision package here whatsoever it means I would have test for all the providers right?

[2019-11-29 08:32] alexellis commented on #32
It needs integrating here into the controller workflow. No worries, I'll do it when I next have time

[2019-12-02 17:09] rugwirobaker commented on #32
I can do it over the weekend

[2019-12-09 12:26] alexandrevilain commented on #18
Hi @adamjohnson01 are you still working on it ? I'll be happy to help

[2019-12-09 12:42] adamjohnson01 commented on #18
@alexandrevilain, I have not had time to start yet so feel free to go ahead.

[2019-12-13 12:13] alexellis commented on #18
This code has moved to inletsctl, so a PR is needed there first, a release and then vendor-ing back into this project to complete the workflow.

I don't mind who works on this. IMHO it's up for grabs until a working PR is submitted.

[2019-12-13 12:28] alexandrevilain commented on #18
Hi @alexellis ! Yes, I saw this change yesterday. No problem I'll do the PR on inletctl.

[2019-12-22 18:19] alexandrevilain opened #37 "[Feature] Add openstack provider"
Adding openstack provider will allow us to use great providers like OVH providing instances starting à 0,008€/hour.

I can work on it, submitting a PR on inletsctl.

## Expected Behaviour
Adding the --provider openstack flag should provision a new instance on an openstack provider.

## Current Behaviour
We can't provision an instance on providers using OpenStack.

## Possible Solution
Using gopher

[2019-12-22 18:52] alexellis commented on #37
Interesting suggestion, I'd like to know more. Do all providers expose openstack directly? I don't think that Civo does that, they wrap it with a ruby REST API.

Are all instance names and images the same between every openstack deployment?

I'd think you may need more parameters, but I'm not an openstack expert.

[2019-12-29 08:34] alexellis commented on #18
Related: https://github.com/inlets/inletsctl/issues/15

Folks given the inactivity since this was raised on October 18th, I'm looking for someone to do the work and submit a PR, just claiming the issue and not sending a PR isn't enough and probably puts other people off.

[2019-12-29 11:13] alexandrevilain commented on #18
Sorry @alexellis, Chrismas Holidays don't help to find time to work on it !

[2020-01-01 16:08] alexellis commented on #37
Ping @alexandrevilain

[2020-01-01 16:09] alexellis commented on #32
@rugwirobaker it's been about 4 weeks since you committed to do the work over the weekend, how did you get on? Is it ready? :nerd_face:

[2020-01-01 16:10] alexellis commented on #32
cc @Waterdrips @utsavanand2 who may also want to pick this up?

[2020-01-01 16:12] #10 closed

[2020-01-01 16:12] alexellis commented on #10
Closing as inactive

[2020-01-01 16:14] alexellis commented on #4
Where are we with this @juan-lee @lachie83 ?

[2020-01-01 16:15] alexellis commented on #27
Feel free to experiment with inletsctl or the tunnel CRD. I'm going to close the issue since there isn't a clear set of requirements I can follow at this stage.

For technical support, please feel free to use Slack

[2020-01-01 16:15] #27 closed

[2020-01-01 16:15] alexellis commented on #27
/lock

[2020-01-01 16:15] alexellis commented on #27
/msg: slack

[2020-01-01 18:06] alexandrevilain commented on #37
Hi @alexellis! Sorry for the delay.

I don't know which provider exposes the OpenStack API. The only provider I know is OVH which exposes the OpenStack API. I think that instances types and images are different between providers.  So you're right, I'll need more parameters.

I'm now working on EC2 provider, I'll start working on OpenStack after that. I think that I'll have more work to do as we wi

[2020-01-01 19:15] alexandrevilain commented on #18
Hi @alexellis @adamjohnson01

I was creating my PR when I saw this one: https://github.com/inlets/inletsctl/pull/16.

I don't understand, you said that you didn't have time.

So if you want it, here is my contribution: https://github.com/alexandrevilain/inletsctl/tree/add-aws

[2020-01-02 13:47] alexellis opened #38 "Give installation instructions with k3sup and DigitalOcean"
Give installation instructions with k3sup and DigitalOcean

## Expected Behaviour

This example is the easiest way to get started. https://github.com/alexellis/k3sup

## Possible Solution

Add a section to the README showing the CLI args for one of the clouds i.e. DigitalOcean

[2020-01-05 09:32] jessBlok opened #39 "deployment.yaml template needs project-id command line argument for packet provisioning"
The Helm deployment.yaml template is missing project-id for provisioning on packet.com

## Expected Behaviour
template should pass project-id to the inlets-operator container

## Current Behaviour
template is passing region twice instead of project-id

{{- if .Values.packetProjectId }}
        - "-region={{.Values.packetProjectId}}"
{{- end }}

## Possible Solution
replace region with project-id

[2020-01-05 12:27] alexellis commented on #39
Thanks for raising the issue. I have a recollection of fixing this, but maybe I didn't.

Are you sending a PR, or do you want me to do that?

[2020-01-05 12:30] #39 closed

[2020-01-05 12:31] alexellis commented on #39
Version `0.5.5` of the chart has been updated.

I'm also testing a `k3sup app` for Istio here -> https://github.com/alexellis/k3sup/pull/141

[2020-01-05 15:40] adamjohnson01 commented on #18
@alexandrevilain, I saw the post by Alex and felt guilty that I had sat on it for so long and not done anything. I also did not read your reply fully and missed the "I'm on it" at the end. I had some time over the holidays so I did it. I should have said something in the issue and I apologise.

[2020-01-05 19:23] alexellis commented on #18
I'm glad that we have a PR in progress and one that's almost done. @alexandrevilain perhaps you'd like to help us test the PR from @adamjohnson01 once tested? @alexandrevilain there are other open issues available too on inlets/inletsctl and inlets-operator.

[2020-01-05 19:31] alexandrevilain commented on #18
The most important thing is that the project is progressing well!
For sure, I'll try the EC2 provider as soon as it will be merged! 😃

[2020-01-05 19:45] alexellis commented on #18
Merged and released: https://github.com/inlets/inletsctl/releases/tag/0.3.6

Thank you @adamjohnson01 :pray:

@alexandrevilain please take a look :smile:

[2020-01-07 16:57] juan-lee commented on #4
@alexellis I'm shooting to have a PR for you by EOW. Sorry for the delay.

[2020-01-08 13:21] alexellis commented on #4
No problem. You'll need to PR to the inletsctl project which is vendored here.

[2020-01-09 13:29] alexellis commented on #38
Review this command for options:

[code]

[2020-01-10 20:40] adamjohnson01 commented on #32
@alexellis , I can do this.

[2020-01-12 19:08] alexandrevilain commented on #18
Hi @alexellis and @adamjohnson01 !

Just tested the `ec2` provisioner. I was explaining that port 80 or 443 weren't opened but I just saw: https://github.com/inlets/inletsctl/pull/26

I'll try it another time after the PR is merged.

[2020-01-12 19:11] alexandrevilain commented on #18
I've found another issue, the `--region` flag isn't supported for instance delete. `eu-west-1` is hardcoded. I can do the PR if you want.

[2020-01-12 19:19] alexandrevilain commented on #18
Here is the PR: https://github.com/inlets/inletsctl/pull/27

[2020-01-15 15:56] alexandrevilain commented on #37
Hi @alexellis
I think that I can take inspiration from the terraform openstack provider.
There are many parameters: https://github.com/terraform-providers/terraform-provider-openstack/blob/master/openstack/provider.go

I'll try to start working on it this week-end.

[2020-01-18 14:40] #38 closed

[2020-01-18 14:43] #32 closed

[2020-01-18 14:44] alexellis commented on #32
Thank you @adamjohnson01 :muscle:

[2020-01-18 14:44] #30 closed

[2020-01-18 14:44] alexellis commented on #30
Thanks @utsavanand2

[2020-01-18 14:44] #31 closed

[2020-01-18 14:44] #18 closed

[2020-01-18 14:45] alexellis commented on #18
Thanks all, @adamjohnson01's PR is merged now. Would be great to get some additional testing

[2020-01-18 14:45] #28 closed

[2020-01-19 15:35] vitobotta opened #44 "Provisioning to Hetzner Cloud + some questions"
Hi! This project looks really cool! A few questions if you don't mind:

- is this for development environments only or would it work for production as well? I am worried about the lb being a single point of failure
- would it be possible to add support for Hetzner Cloud? It's a very good provider with incredible prices. I use it and love it but they don't offer load balancers yet so I am consideri

[2020-01-19 16:33] utsavanand2 commented on #44
Hi @vitobotta! It's really cool that you found our project interesting! Personally I'm a big fan of inlets-operator too!

* is this for development environments only or would it work for production as well? I am worried about the lb being a single point of failure

-> inlets-operator works great for development and production environments alike. inlets also has an offering for inlets-pro which all

[2020-01-19 16:34] vitobotta commented on #44
Just tried with DigitalOcean with the fra1 region (my servers are in Nuremberg) for nginx ingress, it works!

Another few questions:

- which load balancer is used? i.e. haproxy, traefik, nginx, ..?
- how many connections can it handle?
- is the lb updated automatically when I add/remove nodes and pods are rescheduled and things like that?

Thanks!

[2020-01-19 16:37] vitobotta commented on #44
Hi @utsavanand2 ! Thanks for your reply :) Hetzner Cloud has a very nice API, so it shouldn't be difficult but I am not sure of how to tackle this since I am still relatively new to K8s. I wish I could help with this already :(

I wouldn't want to have to SSH into the lb and configure a firewall etc myself. I am mostly wondering about SSH since these days there's a lot of attempts by script kiddie

[2020-01-19 16:45] vitobotta commented on #44
Just tried, the password auth is enabled and works withe password that DO has emailed me

[2020-01-19 19:03] vitobotta commented on #44
Yet another question :D My app uses websockets. Will it work with this LB? I've read that the connection between the cluster and the LB is done via websockets? So will my app work? Thanks @alexellis

[2020-01-19 19:26] vitobotta commented on #44
I can answer myself the last question, it seems to work with a demo app! 💯

[2020-01-22 11:44] adamjohnson01 opened #45 "[Bug] EC2 provisioner does not open client port"
The version of inletsctl used by the operator does not allow access to any client ports in the security group that gets created. A [PR](https://github.com/inlets/inletsctl/pull/26) that fixes this has now been merged.

## Expected Behaviour

 Connections to the Kubernetes service succeed.

## Current Behaviour

Access to the client port is being blocked so connections fail.

## Possible Solution

[2020-01-26 08:03] adam7 commented on #4
@juan-lee Is there any reason you chose ACI to implement an azure server rather than a vm? A B1S vm would cost only cost around 8 dollars a month.

[2020-01-27 09:30] angelbarrera92 opened #46 "[BUG][GCE] Missing ports"
Using GCE as provider in inlets-operator while creating a service type load-balancer with the following specification:

[code]

The firewall rule does not open port 80 nor 443. It's open only the 8080 port.

## Expected Behaviour

All ports defined in the LoadBalancer service has to be opened in the firewall-rule

## Current Behaviour

The operator just open the 8080 port:

https://github.com/inle

[2020-01-27 11:27] utsavanand2 commented on #46
Hi @angelbarrera92
Thanks for the feedback. I see your problem and I'll try to reproduce it. I'm having trouble in tracking the changes which is leading to a behavior where the firewall ports do not open due to the lack of appropriate IAM roles, if you look at the logs of inlets-operator. But earlier all of the changes were rigorously tested and then merged. So it is either with the client librari

[2020-01-27 12:08] angelbarrera92 commented on #46
I don't think is lack permission problem. I saw the code and it does not "forward" service ports to the cloud provider requests... the 8080 port it's hardcoded.

About the tagging `http-server` and `https-server`... What if my app is exposed at port 3000?

I think is a good idea to open service ports in the exit node firewall.

[2020-01-29 15:00] alexellis commented on #46
For the free version of inlets we use port 8080 for control and 80 for the data, so your internal port of 3000 will be available as port 80 on the public node.

For 1:1 port mapping you need to use inlets-pro.

It sounds like good isn't a bug then and we can close the issue? Feel free to apply for a free trial of inlets-pro.

[2020-01-30 09:52] angelbarrera92 commented on #46
Hi @alexellis, this behavior is not what i saw in my cluster.

If I've understood what you said, if i create a service like this one:

[code]

I should be able to access `my-app` with the inlets exit node IP. Am I right?

That's not what I saw in my cluster... The only open port in the inlets exit node is the 8080 port.

Thanks!

[2020-01-30 16:26] zechenbit opened #47 "[Feature] Add Azure Virtual Machine provider"
## Expected Behaviour
Adding the --provider azure flag should provision a new virtual machine instance on Microsoft Azure.

## Current Behaviour
There is no Azure provider to provision VM on Azure currently. There is an open issue for adding Azure Container Instance as provider, but Azure Virtual Machine is not the scope of issue https://github.com/inlets/inlets-operator/issues/4.

## Possible Sol

[2020-02-02 11:26] alexellis commented on #47
I’m fine with this. The PR should be to inletsctl and perhaps just called azure?

[2020-02-02 15:27] zechenbit commented on #47
I have updated the provider from "azurevm" to "azure" in the issue description.

[2020-02-05 13:48] alexellis commented on #45
@adamjohnson01 would you be able to take this please?

[2020-02-05 14:25] adamjohnson01 commented on #45
@alexellis, sure. Will do.

[2020-02-09 09:57] alexellis commented on #46
Sorry about this, you are right. The base provisioning package is broken, I am not sure how it passed testing by the original contributor.

https://github.com/inlets/inletsctl/issues/56

If you want to give it another try, you just need to manually edit your inlets firewall rule and add the required ports.

DigitalOcean and Packet work well since they don't configure extra firewalls.

[2020-02-09 12:00] angelbarrera92 commented on #46
Hi @alexellis!
It is working in our platform. But, as you said, i had to open these ports manually:

*Terraform snippet:*
[code]

Thanks!

[2020-02-09 13:48] alexellis commented on #45
@adamjohnson01 since we have a couple of projects, I wanted to check in - is this working now, or is work still needed? is inletsctl affected?

[2020-02-10 08:39] #45 closed

[2020-02-10 08:39] #46 closed

[2020-02-10 14:01] utsavanand2 opened #50 "The GCE exit node doesn't delete with `kubectl delete svc`"
The GCE exit node doesn't delete with `kubectl delete svc`

## Expected Behaviour

Deleting the kubernetes service with a `kubectl delete svc <svc_name>` should delete the exit node on GCE with the service.

## Current Behaviour

The service gets deleted as expected but not the exit node
<img width="1275" alt="Screenshot 2020-02-10 at 7 24 58 PM" src="https://user-images.githubusercontent.com/2526

[2020-02-10 14:33] utsavanand2 commented on #50
Derek assign: me

[2020-02-10 16:34] alexellis commented on #50
Thank you

[2020-02-11 08:42] alexellis opened #51 "Show columns for tunnel crd with "-o wide""
Show columns for tunnel crd with "-o wide"

## Expected Behaviour

As per https://github.com/openfaas-incubator/ingress-operator/pull/23, we can show additional data when users run `kubectl get tunnels -o wide`

## Current Behaviour

Nothing is shown unless using `-o yaml`

## Possible Solution

Add the most interesting fields here, especially the status and IP address.

## Context

Thank you to D

[2020-02-11 08:44] alexellis opened #52 "Error swallowed when provisioning with GCP and no projectID"
The error is swallowed when provisioning with GCP and no projectID.

## Expected Behaviour

An error at the least in the logs, or a start-up error perhaps?

## Current Behaviour

There's no error or logs, but also no status or IP, this was found by found by Duffie @mauilion.

## Possible Solution

Reproduce the issue by misconfiguring without a project ID - (caused by https://github.com/alexellis/

[2020-02-11 08:45] alexellis commented on #51
@stefanprodan also does this with his Flagger project - https://github.com/weaveworks/flagger/blob/master/kustomize/base/flagger/crd.yaml#L58

[2020-02-11 09:23] utsavanand2 commented on #51
Derek assign: me

[2020-02-11 09:23] utsavanand2 commented on #52
Derek assign: me

[2020-02-11 12:37] #52 closed

[2020-02-11 12:37] #51 closed

[2020-02-11 12:37] #50 closed

[2020-02-13 01:58] retgits opened #54 "Documentation for EC2 provider"
## Current Behaviour

Currently, there is no documentation on how to use the EC2 provider. While I think I figured out most of it, there are still a few things that I'm not sure on. Documentating this for other people will help them get up to speed with using Inlets faster.

## Possible Solution

If I got everything right (which I assume, because I was able to complete the tutorial), you can start

[2020-02-13 08:04] Waterdrips commented on #54
looks like the Helm chart doesn't support --secret-key-file, which is required for ec2 and Scaleway.

I can add support for that to the chart. In terms of documentation, there doesn't appear to be any for EC2 provider in this repo, Ill draw some up when amending the chart.

Thanks for the feedback @retgits
In terms of least-privilege, I would have to have a play about, the tricky thing would be th

[2020-02-13 08:04] Waterdrips commented on #54
/assign: me

[2020-02-13 16:50] retgits commented on #54
If there is anything I can help out with, do let me know 😄

[2020-02-22 10:36] alexellis commented on #54
@Waterdrips do you have an update on this? It seems fairly important to me, where would you rate it on urgency?

[2020-02-22 10:37] alexellis commented on #54
@retgits a PR would be nice, if you can get to it sooner.

[2020-02-22 11:20] Waterdrips commented on #54
@alexellis @retgits this must have slipped through the net - ill do it now.

[2020-02-23 06:09] hugomd opened #56 "License argument should be "inletsProLicense" not "license" in chart README"
The argument passed to helm here:

https://github.com/inlets/inlets-operator/blob/f01a5bc7e880643391a74aad8af2a89eeec182ee/chart/inlets-operator/README.md#L41-L46

Should be `inletsProLicense` not `license`.

## Context
I ran into an issue applying the license after copying this line, but worked it out pretty quickly as the value is different in `values.yaml`.

[2020-02-23 06:20] alexellis commented on #56
Thanks for this. I suspect it's that way from the k3sup app, which I world recommend you try. K3sup wraps helm with strongly typed flags and validation, and installs to any k8s.

Will also fix this 👍

[2020-02-23 06:26] hugomd commented on #56
I've fixed it locally, happy to push up a PR for it if you'd like

[2020-02-23 10:21] utsavanand2 commented on #56
Thank you @hugomd ! I've added the required changes in the latest PR #57 . Hope this helps!

[2020-02-23 12:11] #56 closed

[2020-02-24 02:49] StoicPerlman opened #59 "Support request"
## Expected Behaviour
I am unable to access https content through the proxy. Does this support https proxying? I didn't think this was a inlets-pro feature, but if so that would answer my questions.

This could be a misunderstanding on how inlets/inlet-operator works on my part so clarification would be great.

## Current Behaviour
I have a k3s cluster configured with Traefik, cert-manager, and me

[2020-02-24 07:22] alexellis commented on #59
I'm not sure what you mean by that?

How did you configure your exit node?

And yes given how complicated your setup is, it looks like you could save yourself a whole lot of time and bother by using a TCP proxy (inlets pro is a raw TCP proxy)

Perhaps this is the tutorial that you're looking for? https://docs.inlets.dev/#/get-started/quickstart-ingresscontroller-cert-manager?id=expose-your-ingress

[2020-02-24 07:22] alexellis commented on #59
/set title: Support request

[2020-02-24 07:23] alexellis commented on #59
/add label: support

[2020-02-24 14:44] #54 closed

[2020-02-24 15:52] StoicPerlman commented on #59
I believe this article does answer my question. Specifically this line:

So using the non pro version there is no way to access https://myservice.mydomain.com. Is this correct?

I was under the impression inlets supported http and https traffic, but no other tcp without the pro version.

[2020-02-24 17:52] alexellis commented on #59
I am having trouble understanding what you want to do here.

Can you describe the end goal in basic terms?

[2020-02-24 18:29] StoicPerlman commented on #59
Sorry for the confusion.

I have a basic demo/testing website deployed in k3s.
My ingress for this website is using Traefik.
I would like to use the inlets-operator to expose this to the internet.
I set my DNS to point to the IP of Digital Ocean droplet that was created by inlets-operator.
curl http://myservice.mydomain.com works
curl https://myservice.mydomain.com does not work. it shows "Connect

[2020-02-27 01:13] jahanson opened #63 "[Feature request] Support provisioning to multiple regions for exit-servers"
## Expected Behaviour

The operator should create the tunnel reliably without worrying what region is accepting new nodes.

## Current Behaviour

When specifying the region with digital ocean I can only specify one region. When the region is currently not accepting any new nodes it just fails until digital ocean re-enables the zone.

<img width="584" alt="image" src="https://user-images.githubuser

[2020-03-09 10:01] alexellis opened #64 "Set requests/limits for the tunnel clients"
## Description

Set requests/limits for the tunnel clients

## Context

The tunnel client deployments created by the operator should have some basic limits set to avoid run-away pods, and to upgrade from the basic QoS set by default of BestEffort.

[2020-03-09 10:20] #64 closed

[2020-03-10 15:02] alexellis opened #66 "Read license from file in tunnel client deployment vs from argument"
Read license from file in tunnel client deployment vs from argument

## Expected Behaviour

I would like the secret to be read from a file i.e. a Kubernetes secret which is mounted, so that the secret can be updated without editing the deployments

## Current Behaviour

If the license needs to be rotated, we have to edit each deployment in Kubernetes, or delete the deployment and have it recreated

[2020-03-10 15:03] alexellis opened #67 "Create a secret for the license, rather than using (only) a flag"
Create a secret for the inlets-pro license, rather than using (only) a flag

## Expected Behaviour

The license should be read from a file as not to leak the value in `kubectl get deploy inlets-operator`

## Current Behaviour

The license is shown in the deployment and via helm install when it's passed as a flag.

## Possible Solution

Using a secret, like we do for the API access token would make

[2020-03-23 08:21] stevef1uk opened #69 "Support request for network timeout with DigitalOcean API"
I have followed the tutorial and it works correctly and reliably on my Mac, but on my k3s RPi cluster I am getting the error:

 error syncing 'default/nginx-1-tunnel': Post https://api.digitalocean.com/v2/droplets: dial tcp: i/o timeout, requeuing

## Expected Behaviour
The droplet should be created

## Current Behaviour
No droplet created

## Steps
1. GIt clone this repo
2. Install arkade
2.a Cop

[2020-03-23 08:28] utsavanand2 commented on #69
I'll try to reproduce this error on my Raspberry Pi. Do you have tried it out with any other providers to see if it's something with DigitalOcean or its bad for every cloud?

[2020-03-23 08:32] alexellis commented on #69
Thanks for using inlets, I'm going to close this issue given that it's a networking problem with your local setup and is working as expected. I would encourage you to look into your local networking and perhaps consider how you've set up Kubernetes / local DNS.

Btw, you do not need to run this, you can simply use the given instructions in the README which are multi-arch.

[code]

[2020-03-23 08:33] alexellis commented on #69
/set title: Support request for network timeout with DigitalOcean API

[2020-03-23 08:33] #69 closed

[2020-03-23 08:33] alexellis commented on #69
I would also suggest looking at the DigitalOcean status page to see if they have any known issues at this time. https://status.digitalocean.com

[2020-03-23 08:33] stevef1uk commented on #69
No, I have only tried it with Digital Ocean n as basically it is very very cheap to use them for this. I also noticed the VM being provisioned can now be doubled in size for the same cost of $5 a month.
Is there an easy way to turn debug logging on so I can compare the two rest requests being sent from my Mac where it works and the RPi?

[2020-03-23 08:35] alexellis commented on #69
How did you install Kubernetes on your RPi?
How did you configure the OS for the RPi?

[2020-03-23 08:43] stevef1uk commented on #69
The reason I tried inlets is that I was working on crc (OpenShift v4.3) on my iMac and was trying out their Serverless Operator (KNative) and this wasn't working because I didn't have any external IP addresses for the services. Using the inlets operator made it work I believe.  Interestingly, even on the RPi cluster nginix is being given an external IP address, which is the LAN network address of

[2020-03-23 08:49] stevef1uk commented on #69
The OS is vanilla NOOBs with latest updates on all RPIs, I have one model 3B as the Master & 3 RPi4s (2GB models) as nodes. Wrote all image to SD cards on my Mac using dd.

K3s is from Rancher: https://github.com/rancher/k3s

Install on master:
curl -sfL https://get.k3s.io | sh -

Install on nodes:
curl -sfL https://get.k3s.io | K3S_URL=https://myserver:6443 K3S_TOKEN=XXX sh -

[2020-03-23 10:11] stevef1uk commented on #69
Guys you nailed my issue! For some reason the CoreDNS pod was not happy so I deleted it and it was fine when recreated, thus inlet now working correctly on the RPI cluster.

[2020-03-23 10:20] utsavanand2 commented on #69
Awesome !!!

On Mon, Mar 23, 2020, 3:41 PM stevef1uk <notifications@github.com> wrote:

[2020-03-29 14:01] ameier38 opened #70 "Update load balancer status"
The `status.loadBalancer.ingress` is not updated after being assigned an external IP address.

## Expected Behaviour

After deploying a service of type `LoadBalancer` I expect that the `status.loadBalancer.ingress` will be updated with the IP address of the exit node.

## Current Behaviour

The current status is empty but the service was successfully assigned an external IP address.
[code]

## Pos

[2020-04-04 10:21] alexellis commented on #70
Hi Andrew,

I can't reproduce this?

Can you?

Alex

[2020-04-25 10:27] GerBreOwn opened #71 "Technical support request"
## Expected Behaviour
 I should NOT get the above error

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.I enter "inlets client --remote=ws://xxx.xxx.xxx.xxx --token XXXXX... --upstream="with new domain=http://192.168.1.141"
2.my inlets is version 2.7.0
3.This was working in the past.
4.

## Context

I am trying to connect a new domain on my Raspberry Pi to my DO dr

[2020-04-25 13:54] alexellis commented on #71
/set title: Technical support request

[2020-04-25 13:57] alexellis commented on #71
Hi, thank you for your interest in the project.

Unfortunately, the information you have provided is insufficient to be able to help you. Please share the exact command you are using at both ends of the tunnel. From the error, it looks like you may have misconfigured a proxy that you are using and haven't told us about, or perhaps you have the token wrong at one end?

Alex

[2020-04-26 10:28] GerBreOwn commented on #71
Initially I entered inletsctl create \
 --provider digitalocean \
 --access-token-file ~/do-token \
 --region sfo1
Which created a DO droplet.
On my client system I enter "inlets client --remote=ws://xxx.xxx.xxx.xxx --token XXXXX... --upstream="with new domain=http://192.168.1.141:80"
I have NOT configured any proxy that I know of.
I generated a new token at DO and entered it in the above inlets c

[2020-04-29 09:25] alexellis commented on #67
/add label: help wanted

[2020-04-30 10:09] Waterdrips commented on #67
/assign: me

Ill raise an issue on arkade to switch to this too

[2020-05-01 15:26] alexellis commented on #67
Thanks Alistair

[2020-05-04 08:16] alexellis commented on #67
Hi @Waterdrips did you have a chance to start this yet?

[2020-05-04 09:39] Waterdrips commented on #67
Spent the weekend fighting my RPis and net booting.

Ill start working on this this evening if thats ok.

[2020-05-04 09:49] alexellis commented on #67
Sounds good. Hope you won 😁

[2020-05-12 20:05] toonsevrin opened #73 "Nodeport ish provisioner"
This is out of scope of the project goals but would actually be really useful: A provisioner that works like NodePort on all the worker nodes.

https://github.com/kontena/akrobateo also does this!

[2020-05-13 13:49] alexellis commented on #73
Hi @toonsevrin can you please write-up a more detailed proposal if that's what you want to do? This just looks like a product plug and doesn't come off that well. 🤷‍♂️

[2020-05-13 13:56] toonsevrin commented on #73
Definitely not my product and it's definitely stale. Essentially the provisioner would be implemented with a DaemonSet that schedules an ingress proxy on each node with hostPort ports.

This means that all your worker nodes will expose (eg.) port 80 and 443 and you an simply access your ingress through the ips of your worker nodes. Makes sense?

[2020-05-13 14:00] toonsevrin commented on #73
That may be a little bit information dense. Let's take a step back. A load balancer is expensive for a lot of us that like to run a lot of clusters.

There's a solution called NodePort services, but the problem with them is that they do not allow to go into the ranges we really care about (80-443).

What if there was a LoadBalancer that would function like NodePort, but would open up the ports on

[2020-05-13 15:40] alexellis commented on #73
The LoadBalancer created by OpenFaaS costs 5 USD / mo when coupled with DigitalOcean. Is that too expensive?

If so, you can use a single LB and Ingress to pipe everything through one 5 dollar investment :-) https://docs.inlets.dev/#/get-started/quickstart-ingresscontroller-cert-manager?id=expose-your-ingresscontroller-and-get-tls-from-letsencrypt

[2020-05-14 10:15] toonsevrin commented on #73
@alexellis you'd be surprised how cheap our multicluster infrastructure is hahaha (that's on cheap students starting companies), our largest cost is literally our 68 euro/m ERP.

Anyways, I haven't read the article but I assume we do something similar: We change our istio ingressgateway to a daemonset and run it on every node with hostPorts. Works perfectly but again, it would be really nice to ha

[2020-05-17 20:29] skycoop commented on #70
I am also encountering this problem

My environment:
- Kubernetes (running using k3s on a Raspberry Pi 4 cluster)
[code]
- inlets-operator version: v0.7.6
- Cloud provider GCP

Deployed inlets-operator using the helm chart with the following values
[code]

When I get the YAML for a service using the LoadBalancer type, the `status.loadBalancer` field is empty
[code]

[2020-05-17 20:36] skycoop commented on #70
Was just poking around the codebase to see if I could find what might be causing this not to work. Seems quite likely that this was broken when this block of code was commented out
https://github.com/inlets/inlets-operator/blob/2f3018ca05bf1a6c6532236c9ca89c14b65b688d/controller.go#L867-L869

[2020-05-18 07:00] alexellis commented on #70
You are receiving absolutely no IP anywhere? That's really odd because I am and have used it over the last few days.

Can you show the full output?

Include get tunnels -o wide

[2020-05-18 17:05] skycoop commented on #70
I am receiving an IP in the `spec.externalIPs` field of the service in question, but a ton of systems operate on the `status.LoadBalancer.Ingress` entries. Traefik uses this to set the external IP addresses of ingresses, which is then used by other tools like `external-dns` (which uses that IP address to create A records for the ingress hosts pointing to the inlets tunnel).

This seems like the ca

[2020-05-20 08:25] alexellis commented on #70
That was the original approach I took, but there was a reason why it was changed (which I cannot remember) - the git blame may explain it potentially, if you can take a look at the history.

So the service Ip is being updated correctly, it's just a case of integration with Ingress and the external-dns project that is affected?

Have you tested the change extensively?

[2020-05-20 16:59] skycoop commented on #70
I did take a look at the history and I couldn't get a clear answer. I know the commented out code wouldn't work anymore since `Update` and `UpdateStatus` were split into separate methods, which was caused by the status field being handled by separate RBAC rules.

As far as testing, I deployed the code from the PR to my cluster and it immediately propagated the external IP address all the way throu

[2020-06-25 04:48] #47 closed

[2020-06-25 07:18] alexellis commented on #47
Thank you for the PR 👍

[2020-07-01 08:27] alexellis opened #82 "Add Linode provisioner"
Add Linode provisioner

## Expected Behaviour

The Linode provisioner is now available in inletsctl - thanks to @zechenbit, we can add support to the operator now by changing a few lines of code.

## Current Behaviour

Only available in inletsctl as of version 0.5.5 in the provision package

## Possible Solution

Update the version of the provision package and update the controller.go code:

In th

[2020-07-11 08:14] alexellis opened #84 "[Bug] - Operator creating VMs in a loop"
With or without the pro license, I get the following as per below:

[code]

OSS:

[code]

Versions:

[code]

Sample license for testing:

[code]

[2020-07-11 08:16] alexellis commented on #84
Top suspects:

* Recent changes to CRD and its status fields - https://github.com/inlets/inlets-operator/blob/master/artifacts/crds/inlets.inlets.dev_tunnels.yaml - https://github.com/inlets/inlets-operator/blob/master/hack/update-crds.sh
* Recent PRs to the controller's event-handling code - main/controller.go https://github.com/inlets/inlets-operator

[2020-07-11 08:18] alexellis commented on #84
I can't see the Status field in the CR created:

[code]

[2020-07-11 08:26] alexellis commented on #84
Reverting to the [non-generated, older CRD](https://github.com/inlets/inlets-operator/blob/738ed4d4c7b517f7c99a28879711362a5c34fe87/artifacts/crd.yaml) (not a fix, not what I want to do), fixes the issue:

[code]

[2020-07-11 08:57] #84 closed

[2020-07-11 09:02] alexellis opened #87 "Move controller-managed state fields into the CRD status"
## What

Move controller-managed state fields (such as client_deployment) into the CRD status from the spec

## Why

@munnerz mentioned that controllers shouldn't update the spec field of a custom resource

[2020-07-14 10:11] #82 closed

[2020-07-17 21:30] SachinMaharana commented on #59
I am having the issue. Any clarification would be helpful. Accessing https service shows connection refused when setup with nginx-controller, let's encrypt and ilets-operator.

[2020-07-17 21:46] alexellis commented on #59
To use inlets-operator with LetsEncrypt you have to use inlets PRO. That's documented.

https://docs.inlets.dev/#/get-started/quickstart-ingresscontroller-cert-manager?id=expose-your-ingresscontroller-and-get-tls-from-letsencrypt

[2020-07-17 21:47] #59 closed

[2020-07-17 21:47] alexellis commented on #59
/lock

[2020-07-17 21:47] alexellis commented on #59
You can get a free trial or purchase for personal or commercial use using the links.

[2020-07-18 10:40] zechen0 opened #90 "[Bug] inlets client failed to connect when exposing port is 8080"
## Expected Behaviour
The inlets client in k8s cluster should connect to inlets server successfully.

## Current Behaviour
The inlets client in k8s cluster fails to connect inlets server.

Note that if we use inlets client outside k8s cluster, the connection will succeed, meaning the inlets server is working just fine.

## Possible Solution

## Steps to Reproduce (for bugs)
[code]

### Logs
[code]

[2020-07-18 10:45] zechenbit commented on #90
The root cause may be that iptables rules are set up against `port 8080`. These rules can be seen by logging into k8s nodes.

As we can see below, the 45.79.148.100:8080 will eventually go to 10.244.0.6:8080.
[code]

[2020-07-21 07:42] #70 closed

[2020-07-21 07:42] alexellis commented on #70
We have this behaviour now, please correct me if I'm wrong.

[2020-07-21 07:43] alexellis commented on #44
@vitobotta do you still have time to work on the Hetzner provisioner? The code would start here -> https://github.com/inlets/inletsctl/tree/master/pkg/provision

[2020-07-21 09:27] vitobotta commented on #44
Hi @alexellis, I switched to DigitalOcean a month ago so I am using their load balancers. BTW Hetzner Cloud also has load balancers now.

[2020-08-03 16:39] alexellis commented on #90
Pinging @mauilion for ideas

The server is running on a VM with a remote IP. It accepts traffic on port 80, then uses its websocket to talk to the inlets client (a Deployment on the local Kubernetes cluster)

The "upstream" URL for the inlets client is like the upstream value of a reverse proxy, so it will send any requests received from the server there.

The issue appears to be before we get tha

[2020-08-08 19:26] digitalsanctum opened #91 "Support issue with EC2 provisioner and AWS EC2 Classic"
I'm attempting to install inlets-operator by way of arkade which results in:

[code]

Secondary to the above, I had a hard time finding documentation for installing with AWS provider.

## Expected Behaviour

Installing inlets-operator via `arkade` results in no error messages and creates an EC2 instance and whatever other steps should be done as part of what constitutes a successful install.

Docu

[2020-08-09 20:50] alexellis commented on #91
Thanks for the report.

I'll ping @Waterdrips to see if he can repro.

@adamjohnson01 do you mind taking a look as the author of the AWS provisioning code? https://github.com/inlets/inletsctl/tree/master/pkg/provision#maintainers-for-each-provider

[2020-08-09 20:53] alexellis commented on #91
/set title: Support issue with EC2 provisioner

[2020-08-09 20:53] alexellis commented on #91
@digitalsanctum what kind of documentation (specifically) do you think needs adding?

[2020-08-09 21:00] digitalsanctum commented on #91
@alexellis Perhaps it's enough just to update this section: https://github.com/inlets/inlets-operator#using-a-provider-which-requires-an-access-key-and-secret-key-aws-ec2-scaleway

It was only through trial and error that I got the right combination of args that worked with AWS.

Another hiccup related to documentation is that the required fields for specific providers are not obvious so that was

[2020-08-09 21:03] alexellis commented on #91
Happy to take a suggested block of text to add here, or via a PR (more paperwork and process) - both will give the same end result.

[2020-08-09 21:25] Waterdrips commented on #91
@digitalsanctum - Do you have an old AWS account with EC2 Classic enabled?

I was able to get tunnels spun up on AWS EC2 using a new AMI user with EC2 full access into eu-west-1 region with default settings.

Worked with both inlets and inlets-pro.

[2020-08-09 22:58] digitalsanctum commented on #91
@Waterdrips I do have an old account with EC2 classic enabled. I also don't have a default VPC which is why I'm guessing the code as it is works without specifying a VPC. I'm guessing that providing an optional VPC arg may help in this case and the other case I mentioned above where there might be more than one VPC in the target account/region.

[2020-08-10 02:36] digitalsanctum commented on #91
I've found the same issue occurs when using `inletsctl` so I'm going to attempt to update code there to get things working for me. I'll report back when I know more.

[2020-08-10 08:43] Waterdrips commented on #91
/set title: Support issue with EC2 provisioner and AWS EC2 Classic

[2020-08-10 15:42] digitalsanctum commented on #91
I think this issue has more to do with no default VPC being available. See my PR against inetsctl for proposed fix: https://github.com/inlets/inletsctl/pull/75

[2020-08-10 18:09] adamjohnson01 commented on #91
@alexellis, I would but i will not have access to a computer for a few weeks.

[2020-08-11 17:05] Waterdrips commented on #91
This depends on https://github.com/inlets/inletsctl/pull/75

[2020-08-13 14:35] digitalsanctum commented on #91
@alexellis I'm happy to propagate fix here from my fix in inletsctl.

[2020-08-31 19:22] DarkBlaez opened #95 "[Q] Extend annotations"
Is it possible to extend the annocations to bypass inlets as the LoadBalancer, flipping this around to create an annocation that inlets-operator looks for to explicitly deploy. Like many, MetalLB is the default bare metal loadbalancer in a cluster for certain situations. Deploying the inlets-operator would result in two LB competing. MetalLB will always attempt to service type LoadBalancer.

The i

[2020-09-02 12:50] #91 closed

[2020-09-15 14:42] dirathea opened #96 "Feature request: customise GCE plan"
Currently Exit Node plan is hardcoded [here](https://github.com/inlets/inlets-operator/blob/50aea57bef66c934c3a76db2340714aa6f6eef26/controller.go#L531). I think it better to have some kind of customization on this plan.

## Expected Behaviour

`Plan` should be customizable with the default value if not provided.

## Current Behaviour

The operator use hardcoded value for plan (machine type).

##

[2020-09-15 14:47] alexellis commented on #96
/set title: Feature request: customise GCE plan

[2020-09-15 14:48] alexellis commented on #96
Hi @dirathea thanks for your suggestion.

For personal use I'd suggest that you fork the code, or set up a tunnel server using terraform and deploy a client YAML file to support that.

For context, what instance are you wanting to use, and what's the cost difference? Have you seen that there's a free tier on GCE?

Alex

[2020-09-15 14:53] dirathea commented on #96
Hi @alexellis
Yes, for my personal use I could fork this repo and build on my own.

For now, I will stick with the free f1-micro. But I might willing to spend a little more on this machine like `g1-micro`, or maybe `e1-small`, etc.

[2020-09-15 20:09] utsavanand2 commented on #96
@dirathea I'm assuming that you can get around by forking the repo and building it with the custom machine-type you want, I'm closing this issue for now. Please feel free to reopen the issue, if you fail to do so.

[2020-09-15 20:10] utsavanand2 commented on #96
/close

[2020-09-15 20:10] #96 closed

[2020-09-19 05:41] jsiebens opened #97 "Ports in tunnel are not updated when updating the LoadBalancer service"
## Expected Behaviour

When adding or removing ports of a LoadBalancer service, the ports of the tunnel should be updated as well.

## Current Behaviour
Ports in the tunnel are not updated.

## Steps to Reproduce (for bugs)

1. Create a LoadBalancer service with a single port
[code]
inlets pod is created, logs:
[code]
2. Update the service with an extra port:
[code]
3. Tunnel is not updated with t

[2020-09-19 06:37] jsiebens opened #98 "[Feature] Add support for loadBalancerSourceRanges"
## Expected Behaviour
To configure a Load Balancer firewall, there is the option to use the Service's loadBalancerSourceRanges to define the ranges that should be allowed.

When possible, the provisioner could create firewall rules based on the ranges defined in loadBalancerSourceRanges

Example:
[code]
With this example, a load balancer will be created that is only accessible to clients with IP a

[2020-09-19 08:27] alexellis commented on #98
Thanks for the suggestion, but Please sed inlets with "inlets-operator" :-)

And this feature request will only work with inlets PRO

[2020-09-19 08:29] alexellis commented on #97
Hi @jsiebens inlets PRO does have the capability to reconfigure, so this is just coming down to the controller's control-loop.

Would you be interested in contributing a fix? You'd have to change the config of the client deployment, which specifies the set of ports.

For the time being as a workaround, update your LB's ports and then delete the tunnel custom resource. The new one created by the op

[2020-09-22 15:38] jsiebens commented on #98
@alexellis, can you explain why this will only work with inlets PRO?

I was thinking about passing this source ranges to the provisioners.
For example, the GCE provisioner already creates a firewall rule with a hardcoded source range 0.0.0.0/0 and the required ports (all for PRO, only 80 and 443 for OSS)

[2020-09-22 17:13] alexellis commented on #98
Let me check that I understand you correctly then.

Are you asking to define a number of TCP ports that are exposed by the exit-server?

[2020-09-22 19:07] jsiebens commented on #98
It is more about IP CIDR blocks. Some cloud providers honor the `loadBalancerSourceRanges` field in the Service spec, which allows you to provide a list of IP CIDR blocks allowed to connect to the load balancer. Let's someone wants to process webhook calls coming from a system with a known IP range for egress, this IP range could be whitelisted as an extra security measure.
In case of the `inlets-

[2020-09-22 21:35] alexellis commented on #98
OK, I misunderstood what you wanted. I thought you were asking for a range of ports, related to your other request under #97.

Perhaps you can link this to the appropriate Kubernetes docs page and give a specific example of what might be within that field?

[2020-09-22 21:35] alexellis commented on #97
Let me know your thoughts.

[2020-09-25 08:08] jsiebens commented on #98
The loadBalancerSourceRanges field is mentioned in [Kubernetes API Reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#service-v1-core)
There is a link to https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/ with more information, but apparently, that document is recently removed from the website.
You can still find it on Github

[2020-10-02 14:08] Spazzy757 opened #100 "Digital Ocean Naive Install Spins Up multiple Droplets"
Doing a simple install of the inlets operator and I then installed an ingress on my cluster which started multiple hosts on my Digitial Ocean Account (there was only a single service with `type=LoadBalancer`)

## Expected Behaviour
A single DO droplet gets started and I then have an IP address for my Kind cluster, when I delete the Service it should delete the corresponding Droplet.

## Current Be

[2020-10-02 14:10] Spazzy757 commented on #100
For more insight, the logs of the operator:
[code]

[2020-10-02 14:17] alexellis commented on #100
Hi @Spazzy757 sorry to hear you are having difficulties.

I did create a patch for a similar issue to this several months ago, and it seems that you're using a very old version.

Can I ask why you are using such an old version 0.7.4 is shown in your screenshot? My suggestion would be to update to 0.9.1

For deleting your additional droplets I'd suggest using `doctl compute droplet ls` and `doctl c

[2020-10-02 14:21] Spazzy757 commented on #100
Fantastic! Apologies, I will try it right now!

[2020-10-02 14:25] #100 closed

[2020-10-02 14:26] Spazzy757 commented on #100
works perfectly thank you!

[2020-10-02 14:26] alexellis commented on #100
I can see that you're using `kubectl apply` and static YAML files. I've now completely removed that option, so that users are pointed at helm or arkade (recommended, as it automates the helm chart options)

This should put you on a newer version, let me know if we need to re-open the PR. I'd suggest deleting your kind cluster in the meantime, and looking at one of the tutorials for Kubernetes such

[2020-10-02 14:29] Spazzy757 commented on #100
Okay, perfect thank you! I'm generally a fan of using static yaml as most of my local automation is around kustomize but I will just template out the helm chart so no stress to reopen! Thanks again for the crazy quick reply and solve! Have a good weekend

[2020-10-02 15:45] alexellis commented on #100
If you become a GitHub sponsor then you can receive regular updates on this project, and on Kubernetes. Checkout my personal profile for the details.

Do check out the PRO edition which is more secure and useful with the out of the box configuration. https://inlets.dev

[2020-10-16 16:01] ggriffin924 commented on #95
I have the same issue, the local k8s and k3s clusters use metallb, and when you expose via type LoadBalancer they are provisioned with an address from Metallb.

[2020-10-16 16:24] alexellis commented on #95
We do have that annotation it's called `dev.inlets.manage: false` and it's been in the project for some time now. You'll even see it mentioned on the README. Are we talking about the same thing here?

I guess my other question would be: does MetalLB not have the ability to be configured to via annotation to ignore LoadBalancers?

The idea of using annotations also depends on who creates the LoadBa

[2020-10-16 16:24] #95 closed

[2020-10-16 16:24] alexellis commented on #95
/set title: Support request for multiple LoadBalancer controllers

[2020-10-16 16:25] alexellis commented on #95
The other part of the docs you should see is: https://github.com/inlets/inlets-operator#annotations-and-ignoring-services

[2020-10-16 18:29] DarkBlaez opened #101 "[Restated] Support request for multiple LoadBalancer controllers"
Alex

This question was posed prior, you referenced a document which most of us are aware of and then closed the issue. Here it is restated

Is it possible to extend the annocations to bypass inlets as the LoadBalancer, flipping this around to create an annocation that inlets-operator looks for to explicitly deploy. Like many, MetalLB is the default bare metal loadbalancer in a cluster for certain

[2020-10-16 18:51] alexellis commented on #101
Help me understand what I'm missing? I answered this on the previous issue that was closed as resolved.

I'd rather keep all the conversation in place, so please can you close this as a duplicate and post your comment there? #95

[2020-10-16 18:53] alexellis commented on #95
@DarkBlaez I'm confused why you opened another issue #101 with the same question. I've answered you here, we add the requested feature and it's documented.

Happy for you to tell me what I'm missing, but please, let's keep everything in one place.

[2020-10-16 18:53] alexellis commented on #101
/add label: duplicate

[2020-10-16 18:53] alexellis commented on #101
Duplicate issue of #95

[2020-10-16 19:19] alexellis commented on #101
That's what the annotation does. There are two modes for it, I linked you to both of those in two separate comments before you went ahead and opened another duplicate issue. I'm sorry if you feel frustrated, but one issue is enough for discussion, and even if it's closed, you can keep on commenting.

<img width="889" alt="Screenshot 2020-10-16 at 20 17 19" src="https://user-images.githubuserconten

[2020-10-16 19:19] #101 closed

[2020-10-16 19:23] alexellis commented on #101
Just one more thing, I would suggest that you consider using inlets PRO with the operator so that you can benefit from encryption for the control-plane of your inlets tunnels.

[2020-10-16 19:29] jsiebens commented on #95
There are some related issues reported in many different repositories, like:

https://github.com/kubernetes/kubernetes/issues/91306
https://github.com/metallb/metallb/issues/607
https://github.com/metallb/metallb/issues/685

[2020-10-16 22:43] DarkBlaez commented on #95
I think the work around is to just not to deploy the operator. To be honest, Inlets is a special case, only needing to expose a service end-point externally. The inlets-kubernetes documentation is perfect and addresses the primary use case for Inlets. The operator notion that Inlets becomes the LB ends up extending beyonds this use case. There are situations where MetalLB (predominate for most who

[2020-10-17 06:22] jsiebens commented on #95
@DarkBlaez to be clear, this feature is clearly documented in the readme:

_You can also set the operator to ignore the services by default and only manage them when the annotation is true. dev.inlets.manage=true with the flag -annotated-only_

When running in this mode, you don't have to annotate your 10-30 services to avoid creating external VM, but rather explicitly annotate the service(s) you

[2020-10-17 13:29] DarkBlaez commented on #95
And yet many have not discovered this option. I invite you to try the
operator out when you have Metal LB installed and review the behavior.

On Sat, Oct 17, 2020 at 1:22 AM Johan Siebens <notifications@github.com>
wrote:

[2020-10-17 16:09] alexellis commented on #95
@DarkBlaez I'm sorry that you didn't read the README and that you missed the notes about this feature. I've tried to make it clearer by adding bold headings about the two modes of the annotation.

@blackjid added this almost a year ago and it was working for him at the time -> https://github.com/inlets/inlets-operator/pull/25

I am sure that @jsiebens will take you up on that offer when he has tim

[2020-10-17 16:17] DarkBlaez commented on #95
Yes I’ve tried it, any service that seeks to intercept type LB gets
invoked. Most soft-LB fail to consider competing intercepts. Intels
operator has done a good job on considering this so kudos. MetalLB and even
Ranchers lb-service has not.

On Sat, Oct 17, 2020 at 11:09 AM Alex Ellis <notifications@github.com>
wrote:

[2020-10-21 20:30] Waterdrips commented on #71
/close

This has had no activity in 6 months.
Feel free to re-open with more information if the issue occurs again

[2020-10-21 20:31] #71 closed

[2020-10-21 20:48] alexellis commented on #63
/set title: [Feature request] Support provisioning to multiple regions for exit-servers

[2020-10-21 20:50] alexellis commented on #63
Hi @jahanson

Thanks for the suggestion. This isn't something we've encountered as of yet.

I noticed your operator version is very old, 0.9.2 is current and you should upgrade as soon as you can.

If you're using inlets for business purposes and confidential data/credentials then you [should purchase inlets PRO](https://inlets.dev/) so that your connections are encrypted. The OSS version is confi

[2020-10-22 08:02] alexellis opened #102 "Remove cloud instructions now that they are available in the docs"
## Expected Behaviour

Remove cloud instructions now that they are available in the docs

## Current Behaviour

They are duplicated here

## Possible Solution

Delete the repeating sections.

https://docs.inlets.dev/#/tools/inlets-operator?id=inlets-operator-reference-documentation

[2020-10-22 12:14] jsiebens opened #104 "[Proposal] Promote and/or document the use of the Tunnel CRD"
Some people reported to have issues when running the inlets-operator in combination with another LoadBalancer controller like MetalB. When having multiple LoadBalancer present at the same time, whenever a Service type LoadBalancer is created, BOTH LBs will provide an address.

Although the inlets-operator has a flag `-annotated-only`, must other LoadBalancer controller do not have such kind of fea

[2020-10-26 11:41] #102 closed

[2020-11-01 09:57] #104 closed

[2020-11-24 17:57] xsteadfastx opened #109 "running inlets operator with without cloud"
i run a inlets server on a bare metal server as normal systemd service. i use it mostly as an open source ngrok alternative to share some stuff from my laptop. now im doing more and more with kubernetes and would love to use this public bare metal inlets server with kubernetes. is this possible at all? or does inlets-operator needs to create a cloud instance by itself?

thanks for this beautiful p

[2020-11-24 21:40] alexellis commented on #109
Yes that's supported, you should take a look at our helm chart for inlets PRO, it's not free, but it is easy to use any you've already seen the value of Inlets so I'd suggest you try it.

https://github.com/inlets/inlets-pro/tree/master/chart/inlets-pro

[2020-11-24 21:41] alexellis commented on #109
Happy to customise the chart for Inlets PRO to support your usecase of exposing the services tunneled in. By default it keeps them private to act like a VPN.

[2020-11-28 15:49] AdamWorley commented on #44
Hi @alexellis I'm just trying to add hetzner to the inlets-operator project and make it an available provider in this project, would it best to link back to this issue for both in the pull requests?

[2020-11-30 12:08] xsteadfastx commented on #109
thank you alot :) for this wonderful piece of software and your changes!

[2020-11-30 12:08] #109 closed

[2020-11-30 12:10] alexellis commented on #109
The chart is for inlets PRO, but I am not sure if you're a customer. Would you like to take out a free trial?

[2020-12-01 10:19] xsteadfastx commented on #109
yeah why not :-)

right now im using inlets alot for web development stuff... like a free ngrok alternative only.

[2020-12-01 10:46] alexellis commented on #109
https://inlets.dev/

[2020-12-04 15:10] andrew-codes opened #111 "Digital Ocean status code 422: size is unavailable"
When using Digital Ocean as my provider, I receive an error in the inlets-operator pod stating that the size is no longer available with a status code of 422.

## Expected Behaviour
I expect to be able to use the Digital Ocean provider successfully.

## Current Behaviour
Currently, my inlets-operator receives an error from Digital Ocean's API; status code 422; size is not available.

Log from inle

[2020-12-04 17:51] alexellis commented on #111
Just to humour me, can you use `lon1`?

I believe you may just be out of that type of Droplet in your region, and others have mentioned that nyc1 can run out. nyc2 may have stock?

Here's me trying lon1:

[code]

[2020-12-04 17:55] alexellis commented on #111
With me running in NYC1, I was able to get one:

[code]

So I think whilst your report may be valid, it's possibly also a capacity/availability problem.

[2020-12-05 09:11] #111 closed

[2020-12-07 16:04] ameier38 opened #112 "[Bug] Cannot run inlets-operator using k3s on Raspberry Pi 4: exec format error"
## Expected Behaviour

Using the linux/arm/v6 image in ghcr (specifically `ghcr.io/inlets/inlets-operator:latest@sha256:c20122b628f7d91d0a40b8e88a684391ff800213b775f9fe62a8dabbdf252a94`) should run successfully on Raspberry Pi 4 (arm32v7).

## Current Behaviour

Container crashes with `exec format error`.

## Possible Solution

1. Clone repo.
2. `docker build --build-arg BUILDPLATFORM=linux/arm/v7

[2020-12-07 17:32] alexellis commented on #112
Fixed in 68fa618

The multiarch build failed. Please use the latest helm chart which has just been updated.

[2020-12-07 17:55] ameier38 commented on #112
Thanks for the quick fix. I just updated and can confirm it runs successfully.

[2020-12-07 17:58] #112 closed

[2021-01-11 09:06] deitch opened #113 "URL for Equinix Metal is off"
The README has a bad URL for Equinix Metal. See the section [here](https://github.com/inlets/inlets-operator#status-and-backlog). The URL is https://equinix-metal.com/ but it should be https://metal.equinix.com/

[2021-01-24 09:13] alexellis commented on #44
Who can add Hetzner to the operator? We have [the provisioning package ready now](https://github.com/inlets/cloud-provision/blob/master/provision/hetzner.go). Adding it to the controller should be a case of:

1) Find all references of "EC2" or "DigitalOcean"
2) Copy/paste
3) Test end to end with exposing a service, accessing it and then deleting the service to check the VM is removed.

Pinging a f

[2021-01-24 09:15] alexellis commented on #113
Thanks.. let me get that fixed.

[2021-01-24 09:15] #113 closed

[2021-01-24 09:18] alexellis opened #115 "Add new Hetnzer provisioner to operator"
There is a working [Hetnzer provisioner](https://github.com/inlets/cloud-provision/blob/master/provision/hetzner.go) which we can add to the operator now.

## Expected Behaviour

Users on Hetzner should be able to use the inlets-operator

## Current Behaviour

It's not yet available

## Possible Solution

Adding it to the controller should be a case of:

1) Find all references of "EC2" or "Digital

[2021-01-24 09:18] alexellis commented on #44
Closing as duplicate of the newer issue #115 - this also went a little off topic.

[2021-01-24 09:18] #44 closed

[2021-01-24 09:19] alexellis commented on #44
/lock

[2021-01-24 09:19] alexellis commented on #44
Please participate in the feature request in #115

[2021-01-26 02:38] bnason opened #117 "Change to inlets-pro"
It looks like this was changed to use the pro version which requires purchasing a license (or getting a temporary free one). Is there no longer any way to use the non pro version?

## Expected Behaviour
To be able to use the OSS version as described in the README.md.
It makes it sound like you have to provide a license to "upgrade" to the pro version, but now that seems like a requirement.

## Cur

[2021-01-26 12:37] alexellis commented on #117
Happy to offer you a discount if you were using this at work?

For personal users inlets PRO is already discounted, and sponsors get a further 10% discount for personal licenses.

The primary reason we made this change was written up on Slack and sent to all GitHub Sponsors

<img width="386" alt="Screenshot 2021-01-26 at 12 36 08" src="https://user-images.githubusercontent.com/6358735/105845680-14

[2021-01-26 18:29] alexellis commented on #117
Hope this was helpful to you.

We have just announced personal use licenses can be used at work.

Inlets and openfaas sponsors can also get 10% off through the Treasure Trove portal.

https://twitter.com/alexellisuk/status/1354127661875003398?s=19

[2021-01-26 18:29] #117 closed

[2021-01-26 18:30] alexellis commented on #117
/add label: support, question

[2021-02-14 02:17] Igglybuff opened #118 "tunnel-client pod won't start, "exec: "inlets-pro": executable file not found in $PATH""
## Expected Behaviour
The inlets tunnel pod starts up successfully so I can reach the LoadBalancer service.

## Current Behaviour
The traefik-tunnel-client pod fails to start with the following event (nothing in the pod logs):

[code]

## Steps to Reproduce (for bugs)
Deployed Traefik (default bundled with k3s) which has a LoadBalancer service:

[code]
(public IP is hidden just in case...)

A drop

[2021-02-14 02:30] Igglybuff commented on #118
Looks like this now needs a pro license to be useful at all - I guess it's no longer an option for hobbyists trying to keep things FOSS 🤷‍♂️

[2021-02-14 07:36] alexellis commented on #118
Hi,

Please see https://github.com/inlets/inlets-operator/issues/117 particularly the notes.

You're still welcome to use the inlets-operator, which itself is still licensed MIT. If you find this tool useful then you can support the project and community by purchasing a personal license.

Alternatively, inlets itself has not gone away and you can set it up manually it you have the time to spend do

[2021-02-14 07:36] #118 closed

[2021-02-14 13:59] Igglybuff commented on #118
That's fine, but this could be made more obvious in the README. I imagine most people come across this on GitHub and assume it's an out-of-the-box solution to getting public LoadBalancer services in Kubernetes, but there is in fact a wall to a) purchase a license or b) somehow figure out how to set it up manually. Instead it just says "powered by inlets PRO" and it only becomes abundantly clear th

[2021-02-15 07:50] alexellis commented on #118
Thanks for your feedback. I would recommend checking out the docs for the operator

https://docs.inlets.dev/#/tools/inlets-operator?id=inlets-operator-reference-documentation

As I said on the linked issue, there's a heavily discounted licence for personal use that can also be used at work for commercial purposes. Sponsors of inlets or openfaas get an additional 15% off that again.

Thank you for

[2021-02-15 07:50] alexellis commented on #118
/lock: resolved

[2021-02-16 09:22] alexellis commented on #115
@felipecruz91 didn't have time to finish the PR, so if anyone lands here and wants to work on this, feel free.

Thanks

[2021-02-16 09:22] alexellis commented on #115
/add title: good first issue, help wanted

[2021-04-05 21:09] kyeett commented on #115
I can give this a try, if you want.

[2021-04-11 18:06] #115 closed

[2021-05-19 12:49] maelvls opened #121 "GCE provisioner does not show when the VM fails to be created"
Using the GCE provisioner, it seems like the tunnel VM sometimes never gets created, and the inlets-operator or events on the Tunnel objects do not give an indication as to what went wrong.

As I understand it, the provisioning is done in two steps:

- Step 1: do the `Instances.Insert` and check that there is no 409 Conflict in case the name clashes;
- Step 2: one subsequent resyncs, try to fetch

[2021-05-19 14:24] alexellis commented on #121
@utsavanand2 can you take a look please?

[2021-05-19 14:44] alexellis commented on #121
Hi Mael,

Thanks for the feedback here. I've pinged Ustav who created and maintains the GCE code. Hopefully we can get you up and running again soon.

The GCE provisioner has worked in the past, and I'm not aware of any regression, but it doesn't mean that it couldn't have issues.

One of the things that we saw with the Azure provider was a collision on naming, so we included an additional variabl

[2021-05-19 14:46] alexellis commented on #121
I think I prefer idea 1, we deliberately wanted the provisioning loop to be as fast as possible.

Could we use the host ID field during provisioning and then overwrite it later with the status?

Alex

[2021-05-20 07:29] alexellis commented on #121
@jsiebens have you run into this at all?

[2021-05-20 07:51] jsiebens commented on #121
Haven't seen that before, but I would be happy to jump in and have a closer look as soon as I can

[2021-05-20 13:34] jsiebens commented on #121
@maelvls @alexellis

I've spent some time creating and destroying tunnels over and over again on GCE with the inlets-operator and inletsctl, and for the moment I'm not able to reproduce the issue.

The highlighted `insertId` is not causing the issue I think, as it is not the instance name but rather an id generated by google for that operation. I've some successful logs with a similar id (starting

[2021-05-21 08:53] maelvls commented on #121
You are right, insertId was totally fine. The issue seemed to be lying somewhere else.

I recorded a screencast [here](https://www.youtube.com/watch?v=Ku3l9nLOfB8). During this screencast, I discovered that I could see much more information on the operation by running

[code]

which would show:

[code]

It seems like my service account `give-me-my-cluster` does not have the `iam.serviceAccountUser

[2021-05-21 08:58] maelvls commented on #121
Back to the **Idea 1 "synchronous"** above: it would be nice to have those error messages shown in the tunnel events too, E.g.,

[code]

[2021-05-21 12:23] alexellis commented on #121
Let's get the documentation updated so people create the SA in the correct way?

[2021-05-21 15:22] maelvls commented on #121
I think the documentation is already correct, it is just that I forgot to RTFM 😅

From https://docs.inlets.dev/#/tools/inlets-operator?id=create-tunnel-servers-on-google-compute-engine-gce

[code]

Apologies for not having read the docs 😞

[2021-05-21 15:22] #121 closed

[2021-07-03 08:56] alexellis opened #123 "DigitalOcean has deleted the Ubuntu 16.04 image"
## Expected Behaviour

DigitalOcean should work as a provider

## Current Behaviour

It doesn't and fails with an error message

<img width="1367" alt="Screenshot 2021-07-03 at 09 33 28" src="https://user-images.githubusercontent.com/6358735/124348962-c3446d00-dbe4-11eb-8403-5a322b1aaef2.png">

## Possible Solution

Move to the Ubuntu 18.04 image, given that the 16.04 image has been removed withou

[2021-07-05 08:43] alexellis commented on #123
This has been fixed in the latest release.

[2021-07-05 08:43] #123 closed

[2021-07-05 08:58] alexellis opened #124 "Update OS images to Ubuntu 18.04 for provisioners"
Update OS images to Ubuntu 18.04 for provisioners

## Expected Behaviour

OS images need to be bumped to 18.04 and re-tested for each cloud provisioner

## Current Behaviour

We have a mix of 16.04 and 18.04, as we saw in: https://github.com/inlets/inletsctl/issues/95, some providers are removing their images given that the release lost support in April 2021.

## Possible Solution

Find new "code"

[2021-07-08 08:39] alexellis commented on #97
@jsiebens only the tunnel deployment needs to be changed AFAIK, would you still like to work on this PR?

Loop
   Detect port change
   Update deployment
   Tunnel client reconnects, and sets new ports

There will be no change in IP.

Alex

[2021-07-14 11:03] alexellis opened #130 "Support custom plan for provisioner"
When using Equinix Metal, the cheapest plan of 0.07 USD / hour is being deprecated and most people cannot access it any longer. For that reason, it makes sense to allow a `--plan` flag in the helm chart and operator configuration, so that users on Equinix Metal can pass in a custom plan for hosts.

This also helps users who need to deploy into an edge region which has heterogeneous plan names.

##

[2021-07-16 07:22] alexellis commented on #130
@dirien I started on this between calls yesterday. Will ping you on the subsequent PR.

[2021-07-16 07:32] dirien commented on #124
So whats left?

[2021-07-17 17:57] #130 closed

[2021-07-17 17:58] alexellis commented on #124
Good question @dirien, please can you take a look and report back?

Also, do you want to add back Civo, now that their API seems to resolve IPs correctly during cloud-init?

[2021-07-19 04:54] dirien commented on #124
I wanted to talk to you in the community call. We need to change the cloud provision to what you did for GCE.

As Civo  needs, again wrong in their docs, the Region when asking for the Status
[code]

vs
[code]

I created a ticket at civo (https://github.com/civo/civogo/issues/55), that list instances should give all instances over all regions. They want to overall change their API, but for now the

[2021-07-26 13:31] alexellis commented on #124
Thanks, can you create a separate ticket here or in the inlets/cloud-provision reop to track the problem?

Do we have any provisioners which still need updating to Ubuntu 18.04, or can we close this issue now?

[2021-07-26 13:36] dirien commented on #124
IN inlets-operator all are updated.

in inletsctl:
https://github.com/inlets/inletsctl/blob/ed0bcc767eb9357bef75062dee746684b97eb0bf/cmd/create.go#L428

https://github.com/inlets/inletsctl/blob/ed0bcc767eb9357bef75062dee746684b97eb0bf/cmd/create.go#L489

[2021-07-26 15:14] alexellis commented on #124
And are we good with inletsctl now also?

[2021-07-26 15:16] dirien commented on #124
inletsctl has ec2 and equinix still open, see links above

[2021-07-28 08:37] #97 closed

[2021-07-29 14:23] alexellis opened #135 "Update provider pricing grid"
The provider pricing grid needs updating with the newest options and costs.

## Expected Behaviour

The provider grid needs to be kept up to date with the various provisioners that we support and how much they cost roughly per month.

## Current Behaviour

It's a bit out of date

## Possible Solution

Update it at: https://github.com/inlets/inlets-operator#provider-pricing

Then I would suggest mo

[2021-07-29 14:23] alexellis commented on #135
@dirien could you help?

cc @jsiebens

[2021-07-29 14:25] dirien commented on #135
@alexellis , yes can do

[2021-07-31 18:07] joshua-hester opened #137 "Format Error: JWT Token for license-file"
I am receiving an error when using my  LICENSE String for Inlets Pro

Format: XXXXX-XXXXX-XXXXX-XXXXX etc.

What is the format for the License File?

Command:
[code]

When running ` kubectl logs -n default deploy/inlets-operator` I receive the following

[code]

I know the license is valid because I ran Inlets-Pro locally and was able to set up a valid connection.

My Question: What is the JWT tok

[2021-07-31 18:13] joshua-hester commented on #137
I am almost positive its a small formatting error because its receiving this error because of line
https://github.com/inlets/inlets-operator/blob/7ce7ac3e402743e1e2700a9b4baa68358a4756a8/config.go#L53

it is definitely looking for two "period" characters that I do not have in the License string

[2021-07-31 18:36] alexellis commented on #137
Hi there, sorry about this. It's a piece of validation that needs to be removed for the Gumroad tokens.

I'll get a patched version up for you this weekend and close you'd issue when it's ready.

Alex

[2021-07-31 18:41] #137 closed

[2021-07-31 18:43] #135 closed

[2021-07-31 18:52] alexellis commented on #137
Here's the fix: https://github.com/inlets/inlets-operator/releases/tag/0.14.1

You'll be able to install again and the chart will update to this version.

[2021-07-31 19:05] joshua-hester commented on #137
@alexellis Thank you! Very speedy! Just reinstalled and it worked perfect ...

[2021-08-06 16:05] alexellis opened #138 "Known issue: connection refused"
## Details

You may run into a known issue where the client deployment for the inlets tunnel says: connection refused

## Why does this happen?

This is due to the way your Kubernetes cluster or networking driver is configured to use IPVS. In IPVS mode, outgoing traffic is redirected to the node that the pod is running on, instead of being allowed to go to your exit-server.

Most clusters use ipta

[2021-08-16 17:57] sammydev395 opened #139 "Getting 401 Unable to Authenticate from Digital Ocean"
I had to reinstall the inlets operator on my Mac Mini running KinD and am now getting auth issues as u see below, even though the pod is up and running fine with Inlets pro operator

I have tried using a fresh new generated token from Digital Ocean when installing the inlets operator on Kind via arkade

## Expected Behaviour
Digital Ocean droplet should be created

## Current Behaviour
`2021/08/16

[2021-08-18 11:13] alexellis commented on #139
Hi @sammydev395 it sounds like you have a problem with your token.

I would suggest removing the secret created by arkade and installing the app again.

For further technical assistance, feel free to use the community Slack. Commercial customers with business licenses have support via email included for free.

Alex

[2021-08-18 11:13] #139 closed

[2021-08-18 11:14] alexellis commented on #139
The secret created by the operator is called "inlets-access-key"

[2021-08-18 16:12] alexellis commented on #67
@viveksyngh do you want to take a look?

[2021-08-25 08:49] JLCode-tech opened #140 "Linode provider with Arkade ingress-nginx - label too long"
Following this how to link:
https://docs.inlets.dev/#/get-started/quickstart-ingresscontroller-cert-manager?id=install-nginx-ingress

Running into this error using arkade install nginx-ingress :
2021/08/24 21:41:53 Provisioning started with provider: linode host: ingress-nginx-controller-tunnel                                                                                                 │
│ E082

[2021-08-25 15:01] alexellis opened #141 "Update codegen and generate-crd script for Go modules"
Update codegen and generate-crd script for Go modules

As per the changes in this PR (ignoring the Ingress references): https://github.com/openfaas/ingress-operator/pull/50

[2021-08-25 15:16] viveksyngh commented on #67
/derek assign me

[2021-08-25 15:21] viveksyngh commented on #67
@alexellis  I was thinking if we can create a secret with the licence and then using secret as input to the the controller. Which will be read by the controller to the read the secret and also set a watch for that, so in case if this get's updated controller will reconcile all objects.

[2021-08-25 16:00] alexellis commented on #67
Part 1a is just changing the helm chart to use a secret name/reference instead of a literal value, but keeping backwards compatibility. Part 1b is changing the arkade app to create the new secret and instruct the helm chart to use it.

See how we do that for arkade and openfaas - https://github.com/alexellis/arkade/blob/master/cmd/apps/openfaas_app.go#L126

Part 2 is more along the lines of what y

[2021-08-30 13:46] dirien opened #144 "Add plan to Inlets Operator Helm chart"
## Expected Behaviour

Inlets Operator Helm chart should support plan
## Current Behaviour

Currently you can not set the plan via `--set` or values.yaml
## Possible Solution

Add --plan flag to deployment template

[2021-09-08 17:09] alexellis commented on #144
Sounds good to me :+1:  Approved.

[2021-09-15 09:02] #144 closed

[2021-09-15 16:11] #141 closed

[2021-10-22 09:00] alexellis opened #148 "Update build status image to use GitHub Actions"
## Expected Behaviour

Correct build status to be shown

## Current Behaviour

Shows the old Travis build.

## Possible Solution

Update the link as per the README of openfaas/faas. Note that it has both a link to the build and an image for the badge.

[2021-10-30 22:52] dirien commented on #124
@alexellis: i think that issue can be closed.

[2021-10-31 08:37] #124 closed

[2021-10-31 08:37] alexellis commented on #124
Thank you

[2022-02-07 19:29] blaisep opened #151 "bugfix: Docs for installation overlook the access-key"
## Expected Behaviour

Quick issue, followed by bugfix:
The README overlooks the installation step and if you use `ark install inlets-operator` you might not have the secret installed properly (the operator refers to the secret by a different name)

## Current Behaviour
the operator container will fail to load....

## Possible Solution
updated the README with tips.

## Steps to Reproduce (for bugs

[2022-06-04 22:49] LordNoteworthy opened #153 "question: is the inletsProLicense field of the helm chart different than the lic key received in email"
Hello,

I have recently purchased a inlets personal license, and i have received a key in email in the form of XXXXX-XXXXX-XXXXX-XXXXX.

In the doc, it says something about JWT license ? Is it the same or is it something else ? If then, how to obtain the JWT token.

I am saying this because the tunnel pod of ingress says something like:

[code]

[2022-06-05 19:06] alexellis commented on #153
Hi, could you fill out the whole issue template and I'll try to assist.

Alex

[2022-06-05 21:10] LordNoteworthy commented on #153
Hello @alexellis

inlet-operator license does not seems to be accepted.

## Expected Behaviour
When I create my ingress, a ingress-nginx-controller-tunnel-client pod get created but it is failing.

[code]

## Current Behaviour
Here is the log that comes out of the failing pod:

[code]

## Steps to Reproduce (for bugs)

[code]

My Chart.yaml has the following dependency:
[code]

- Then: `helm depen

[2022-06-06 20:32] alexellis commented on #153
Thanks for adding that information.

I am wondering if there is an issue with your specific Gumroad key.

Can you try to run the inlets-pro client on your local machine with your license key from Gumroad and see if it works?

Gumroad subscriptions use their own format of keys, static purchases use a JWT.

[2022-06-06 20:53] alexellis commented on #153
I've just run through the above with a license key from Gumroad, the exit servers were created as expected.

[code]

And values:

[code]

I'll await the confirmations on the three questions above.

[2022-06-07 09:16] LordNoteworthy commented on #153
Hello  @alexellis

I have just send an email containing the information you need, and I confirm I did not cancel my license.

Thank you so much.

[2022-06-08 19:04] alexellis commented on #153
Turns out this was down to the license not being copied correctly from the email, which we resolved over email. I'll close this but feel free to open other issues if you run into different problems.

[2022-06-08 19:24] #153 closed

[2022-09-20 19:49] unnimona opened #156 "inlets-operator is not free to use?"
please mention it in readme.md if inlets-operator is not free to use and only paid plans exist

[2022-09-20 22:19] alexellis commented on #156
Thanks for your interest. This is explained at https://inlets.dev and in the README.

[2022-09-20 22:22] #156 closed

[2022-09-20 22:22] alexellis commented on #156
/set title: What's the license for this project?

[2022-10-22 00:53] danielmichaels commented on #138
Chiming in here,

I am experiencing this issue.

When I follow [this](https://docs.inlets.dev/tutorial/kubernetes-ingress/#deploy-an-application-and-get-a-tls-certificate) tutorial (i.e. using Kind) the `ingress-nginx-controller-tunnel-client-xxxx` pod will successfully make a connection.

However, when I use `k3s` (single, or multi node) I get the same `connection refused` error as described abov

[2022-10-22 08:19] alexellis commented on #138
@danielmichaels I have absolutely no issues with K3s or KinD and inlets-operator and run them on a regular basis myself.

The problem in this issue is well described and caused by IPVS. IPVS is not a default in Kubernetes, to enable it you must install a special network driver or change the kubelet flags.

If you're doing neither of these things then I'd ask you to remove your comment and raise yo

[2022-10-22 10:20] danielmichaels commented on #138
Thank you for your prompt reply.

I can confirm that when running using Multipass or Kind everything works as expected.

It still fails to connect when I provision everything inside my proxmox cluster on my LAN. The issue must be related to how I am provisioning it or something other than inlets/kubernetes.

Keep up the good work! :+1:

[2022-10-22 12:23] alexellis commented on #138
Daniel can you try using the inlets-tcp-server chart instead of the operator? Create your tunnel server using inletsctl